<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=DESKTOP-R4M1KJ9\SQLEXPRESS;Initial Catalog=PRODUCTS;Integrated Security=true"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>