<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=DESKTOP-R4M1KJ9\SQLEXPRESS;Initial Catalog=PRODUCTS;Integrated Security=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ProductsServiceUrl" value="http://localhost:31425/" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>